# Example code in package build process

*-Ex.R
.Rhistory
.RData
*.csv
*.xls
*.xlsx
*.zip
*.log
*.rar
*.ftppass
Gruntfile.js
img/
svg_ai/
sounds/
backup/
BACKUPS22222/
node_modules/
bower_components/
support_img/