/*
    Structure
    1. Styles for all pages
    2. Styles for specic pages
    3. Styles for one page

*/

/* 1. General styles for all pages */
.row .container { /* ???? */
    margin-right: auto;
    padding-right: 15px;
}

.navbar-left img {
    width: 450px;
    height: 80px;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    /*margin-bottom: 30px;*/
    padding-bottom: 10px;
    text-align: center;
}

/* vertical align of pictures > bottom */
.span6 {
    display: table-cell;
    vertical-align: bottom;
    float: none;
}

.smaller {
    width: 200px; 
    height:300px;
}

.footer {
  position: absolute;
  bottom: 15px;
  /* Set the fixed height of the footer here  */
  height: 65px;
  background-color: white;
}

/* ----------------------------------------------------------------------------*/
/* Styles for only for 01/04....html */
#style-01 { /* used for body tag - id */
    padding-top: 50px;
}

#style-01 .navbar-right {
    padding-right: 180px;
}

#style-01 .row .row .underline h2 {
    text-decoration: underline;
}


/* --------------------------------------------------------------------------*/
/* Styles only for 02/03....html */
#style-02 { /* used for body tag - id */
    padding-top: 50px; 
}

#style-02 .navbar-right {
    padding-right: 0px;
}

#style-02 .row {
    padding-top: 90px;
}

#style-02 .footer {
 /* position: absolute;*/
  bottom: 15px;
  /* Set the fixed height of the footer here  */
  height: 65px;
  background-color: white;
}

#style-02 .span7 {
    display: table-cell;
    vertical-align: top;
    float: none;
    padding-left: 10px;
}
#style-02 th {
    padding: 5px;
}
.main {
    padding-right: 40px;
    padding-left: 40px;
}

.colorbox { 
    float: top;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

ul {
    list-style-type: none;
}

/* --------------------------------------------------------------------------*/
/* Styles only for 01....html */



