html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
}

h1 {
    font-size: 40px;
}

.nahoru {
    padding-top: 40px;
}

.nahoruVice {
  padding-top: 70px;
}

.doprava {
  padding-left: 75px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 50%;
  /* Set the fixed height of the footer here */
  height: 75px;
  background-color: #BAAE94;
}

#levy {
    position: absolute;
    bottom: 0;
    width: 50%;
    /* Set the fixed height of the footer here */
    height: 75px;
    background-color: #BAAE94;
    font-size: 30px;
    color: blue;
}
