html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 75px;
}

h1 {
    font-size: 40px;
}

.nahoru {
    padding-top: 40px;
}

.padding {
    padding-top: 30px;
}

/* vertical align of pictures > bottom */
.span6 {
    display: table-cell;
    vertical-align: bottom;
    float: none;
}

.doleva {
    padding-right: 60px;
}

/* http://stackoverflow.com/questions/493296/css-display-an-image-resized-and-cropped */
.fourth {
    background-image: url('../img/elogv.png');
    width: 220px;
    height: 490px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
}

.third {
    background-image: url('../img/sdtotalv.png');
    width: 220px;
    height: 460px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
}

.second {
    background-image: url('../img/sdairv.png');
    width: 250px;
    height: 430px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
}

.first {
    background-image: url('../img/sdrailv.png');
    width: 250px;
    height: 400px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 50%;
    /* Set the fixed height of the footer here */
    height: 75px;
    background-color: #BAAE94;
}

#levy {
    position: absolute;
    bottom: 0;
    width: 50%;
    /* Set the fixed height of the footer here */
    height: 75px;
    background-color: #BAAE94;
    font-size: 30px;
    color: blue;
}
